html {
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  letter-spacing: 2px;
}

.el-dialog__header {
  padding: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: linear-gradient(90deg, #48a4f7, #bc42ab);
  border-radius: 4px 4px 0 0;
}

.el-dialog__header .el-dialog__title {
  color: #ffffff;
}

.el-dialog__headerbtn .el-dialog__close {
  font-weight: 600;
  color: #ffffff;
}

.el-dialog__footer {
  padding: 15px;
  background-color: #fafafa;
  border-radius: 0 0 4px 4px;
}

.el-dialog {
  border-radius: 4px;
}

.el-form-item__label {
  font-size: 15px;
}
